{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- Heading and info (dynamic) -->
    <div class="row text-center mt-5">
        <h2 class="fs-1">Browse for: {{ tag }}</h2>
    </div>
    <div
        class="row mt-4 py-4 justify-content-center flex-wrap bg-container bg-gradient rounded border border-warning border-opacity-50">
        {% if recipes %}
        <!-- Displays recipes whose tags contain the queried tag for the user to browse -->
        {% for recipe in recipes %}
        {% include "card.html" with recipe=recipe %}
        {% endfor %}
        {% else %}
        <!-- Suggests user add a new recipe if none match. Provides link to add new recipe -->
        <div class="text-center">
            <p>Oh no! No {{ tag }} recipes yet, why not add your own?</p>
            <a href="{% url 'add_recipe' %}" class="btn btn-lg btn-warning mt-1">Add new recipe</a>
        </div>
        {% endif %}
    </div>

    <!-- Other options (fixed) -->
    <div class="row text-center">
        <div class="col-sm-10 offset-sm-1 mt-5">
            <h4>Can't find what you're looking for?</h4>
            <p>You could try searching key words or check another tag!
            </p>
            <!-- Search -->
            <form class="d-flex" role="search" method="POST" action="{% url 'search_results' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search recipes" name="search-bar"
                    aria-label="Input search">
                <button class="btn btn-light fw-bold text-dark btn-outline-secondary" type="submit" aria-label="Search"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <!-- Browse by tag -->
            <h4 class="mt-4">Browse by tag</h4>
            <ul class="list-inline">
                {% for tag in tags %}
                <li class="list-inline-item"><a class="btn btn-light bg-highlight"
                        href="{% url 'browse' tag|slugify  %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}