{% load static %}
<div class="card m-2 text-start p-0" style="width: 18rem;">
  {% if user == recipe.author %}
  {% if recipe.private %}
  <div class="banner-container">
    <div class="banner bg-secondary">Private</div>
  </div>
  {% else %}
  <div class="banner-container">
    <div class="banner bg-main">Public</div>
  </div>
  {% endif %}
  {% endif %}
  <div class="card-image">
  {% if "placeholder" in recipe.image.url %}
  <img src="{% static 'images/recipe_placeholder.png' %}" class="card-img-top" alt="Placeholder image">
  {% else %}
  <img src=" {{ recipe.image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}">
  {% endif %}
</div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p class="card-text">{{ recipe.short_caption }}</p>
    <div class="card-footer">
      <span><i class="fa-solid fa-heart"></i> {{ recipe.count_likes }}</span>
      <span><i class="fa-solid fa-comment"></i> {{ recipe.count_comments }}</span>
      <span><i class="fa-solid fa-bookmark"></i> {{ recipe.saved_by.count }}</span>
      <a href="{% url 'recipe_detail' recipe.slug  %}" class="card-link stretched-link float-end">Cook!</a>
    </div>
  </div>
</div>