{% load static %}
<div class="card m-2 h-100" style="width: 18rem;">
    {% if "placeholder" in recipe.image.url %}
<img src="{% static '/images/placeholder.png' %}" class="card-img-top" alt="Placeholder image">
{% else %}
<img src=" {{ recipe.image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}">
{% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <p class="card-text">{{ recipe.short_caption }}</p>
      <div class="card-footer">
      <span><i class="fa-solid fa-heart"></i> {{ recipe.count_likes }}</span>
      <span><i class="fa-solid fa-comment"></i> {{ recipe.count_comments }}</span>
      <span><i class="fa-solid fa-bookmark"></i> {{ recipe.count_saves }}</span>
      <a href="{% url 'recipe_detail' recipe.slug  %}" class="card-link stretched-link float-end">View recipe</a>
    </div>
  </div>
  </div>
  