{% load static %}

<!-- Bootstrap card used across the site to showcase recipes when user is browsing and searching -->
<div class="card recipe-card m-2 text-start p-0 flex-grow-0" style="width: 18rem;">
  {% if user == recipe.author %}
  <!-- Banner to show if recipe is user's own and show if private or public (dynamic) -->
  <!-- Idea and styling from https://codepen.io/alexerlandsson/pen/NqXWwX -->
  {% if recipe.private %}
  <div class="banner-container">
    <div class="banner bg-secondary">Private</div>
  </div>
  {% else %}
  <div class="banner-container">
    <div class="banner bg-main">Public</div>
  </div>
  {% endif %}
  {% endif %}
  <!-- Recipe image (dynamic) -->
  <div class="card-image">
    {% if not recipe.image %}
    <img src="{% static 'images/recipe_placeholder.png' %}" class="card-img-top" alt="Placeholder image">
    {% else %}
    <img src=" {{ recipe.image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}">
    {% endif %}
  </div>
  <!-- Quick info and stretched link -->
  <div class="card-body">
    <h4 class="card-title text-truncate">{{ recipe.title }}</h4>
    <p class="card-text card-caption text-truncate">{{ recipe.caption }}</p>
    <div class="card-footer">
      <span class="card-counter"><i class="fa-solid fa-heart"></i> {{ recipe.count_likes }}</span>
      <span class="card-counter"><i class="fa-solid fa-comment"></i> {{ recipe.count_comments }}</span>
      <span class="card-counter"><i class="fa-solid fa-bookmark"></i> {{ recipe.saved_by.count }}</span>
      <a href="{% url 'recipe_detail' recipe.slug  %}" class="card-link stretched-link float-end">Cook!</a>
    </div>
  </div>
</div>