<div class="row">
    <div class="mt-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <h2 class="fs-2"><span class="badge bg-highlight position-relative top-40">New</span></h2>
        <div class="carousel-inner bg-container bg-gradient rounded border border-warning border-opacity-50 pt-4 pb-5">
          <div class="carousel-item active">
            <!-- cards -->
            <div class="col-8 offset-2 mt-1 mb-1 justify-content-center d-flex">

              {% for recipe in recipe_list|slice:'0:3' %}
              {% include "card.html" with recipe=recipe %}
              {% endfor %}
            </div>
            <!-- end cards -->
          </div>
          <div class="carousel-item">
            <div class="col-8 offset-2 justify-content-center d-flex">
              <!-- cards -->
              {% for recipe in recipe_list|slice:'3:6' %}
              <div class="card m-2" style="width: 18rem;">
                {% if "placeholder" in recipe.image.url %}
            <img src="static/images/placeholder.png" class="card-img-top" alt="Placeholder image">
            {% else %}
            <img src=" {{ recipe.image.url }}" class="card-img-top" alt="Image of {{ recipe.title }}">
            {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.title }}</h5>
                  <p class="card-text">{{ recipe.caption }}</p>
                  <span>{{ recipe.number_of_likes }}</span>
                  <span>{{ recipe.number_of_comments }}</span>
                  <a href="{% url 'recipe_detail' recipe.slug  %}" class="btn btn-primary">Cook!</a>
                  <a href="{% url 'profile_page' recipe.author.username %}"
                    class="btn btn-primary">{{ recipe }}</a>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- end cards -->

          </div>
          <div class="carousel-item h-100">
            <div class="col-8 offset-2 mt-5 mb-5 justify-content-center d-flex">

              <p class="fs-3">
                click here for more
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>