{% extends "base.html" %}
{% block content %}

<div class="container">
  <!-- Heading and intro text -->
  <div class="row text-center">
    <h1 class="mt-5">Welcome to recipebook!</h1>
    <p class="mt-4 col-10 offset-1 fs-3">Where users can share and save their favourite recipes.</p>
  </div>
  {% if not new_recipes and not popular_recipes %}
  <!-- If Recipe model is empty -->
  <div class="row text-center">
    <div class="col-8 offset-2 mt-5 py-4 bg-container bg-gradient rounded border border-warning border-opacity-50">
      <h2>Oh no! We haven't got any recipes to show you at the moment...</h2>
      <p>Come back later or start posting your own recipes!</p>
      <a href="{% url 'add_recipe' %}" class="btn btn-lg btn-warning mt-1">Add new recipe</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div id="newest" class="col-12">
      <div id="new_carousel" class="d-none d-xl-block">
        {% include "carousel.html" with recipe_list=new_recipes title='New' %}
      </div>
      <div id="new_scroll" class="d-xl-none">
        {% include "scroller.html" with recipe_list=new_recipes title='New' %}
      </div>
    </div>
  </div>
  <div class="row">
  <div id="popular" class="col-12">
    <div id="pop_carousel" class="d-none d-xl-block">
      {% include "carousel.html" with recipe_list=popular_recipes title='Popular' %}
    </div>
    <div id="pop_scroll" class="d-xl-none">
      {% include "scroller.html" with recipe_list=popular_recipes title='Popular' %}
    </div>
  </div>
</div>

{% endif %}
</div>


{% endblock %}