{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">

            {% for recipe in recipe_list %}
            <div class="card" style="width: 18rem;">
                <img src="{{ recipe.image }}" class="card-img-top" alt="Image of {{ recipe.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.title }}</h5>
                  <p class="card-text">{{ recipe.caption }}</p>
                  <span>{{ recipe.number_of_likes }}</span>
                  <span>{{ recipe.number_of_comments }}</span>
                  <a href="{% url 'recipe_detail' recipe.slug  %}" class="btn btn-primary">Cook!</a>
                  <a href="{% url 'profile_page' recipe.author.profile.id  %}" class="btn btn-primary">{{ recipe.author.profile.id }}</a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}