{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-8 mt-5 offset-lg-4 offset-md-2 border rounded p-3">

      <h2 class="fs-1 text-center">{% trans "Sign In" %}</h2>

      <p class="mt-3">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

      <form class="login mt-3" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-warning bg-highlight" type="submit">{% trans "Sign In" %}</button>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}