@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

main {
    min-height: calc(100vh - 7rem);
    padding-top: 10vh;
}

.navbar-brand > i {
    padding: 0.4rem;
}

.bg-highlight {
    background-color: #FF9B71;
    color: #fff;
}

.bg-main {
    background-color: #4ACC9A;
}

.bg-container {
    background-color: #fcebae;
}

.card-body p {
    height: 1rem;
}

.card-body span {
    margin-right: 0.5rem;
}

.card-body i {
    color: #4ACC9A;
}

.card-footer {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none;
}

.icon-xl {
    font-size: 10rem;
    color: #9c9c9c;
}

.view-more {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.btn-tab {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.profile-image {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: auto;
    width: 100%;
}

.notification-container {
    max-height: 50vh;
    overflow-y: scroll;
}

/* https://codepen.io/alexerlandsson/pen/NqXWwX */
.banner-container {
	width: 7rem;
	height: 7rem;
	overflow: hidden;
	position: absolute;
	top: -0.3rem;
	left: -0.3rem;
	&:after {
		content: "";
		display: block;
		width: 0.6rem;
		height: 0.3rem;
		background-color: #000;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	&:before {
		content: "";
		display: block;
		height: 0.6rem;
		width: 0.3rem;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

.banner {
	width: 10rem;
	padding: 0.3rem;
	color: #fff;
	text-align: center;
	transform: rotate(-45deg) translate(-28%, -35%);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}


/* ----- Media Queries */
@media screen and (max-width: 992px) {
    .dropdown-menu {
        max-height: 50vh;
        overflow-y: scroll;
    }

    .footer-nav {
        flex-direction: row;
    }
    .footer-nav li {
        padding: 0 0.5rem;
    }
 }

