@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

main {
    height: calc(100vh - );
    padding-top: ;
}

.navbar-brand > i {
    padding: 0.4rem;
}

.bg-highlight {
    background-color: #FF9B71;
    color: #fff;
}

.bg-main {
    background-color: #4ACC9A;
}

.bg-container {
    background-color: #fcebae;
}

.card-body p {
    height: 1rem;
}

.card-body span {
    margin-right: 0.5rem;
}

.card-body i {
    color: #4ACC9A;
}

.card-footer {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none;
}

.icon-xl {
    font-size: 10rem;
    color: #9c9c9c;
}

.view-more {
    background-color: transparent;
    border: 0;
    padding: 0;
}