@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.navbar-brand > i {
    padding: 0.4rem;
}

.bg-highlight {
    background-color: #FF9B71;
    color: #fff;
}

.bg-main {
    background-color: #4ACC9A;
}

.carousel-item {
    background-color: #fcebae;
}

.card-body i {
    margin-left: 0.5rem;
    color: #4ACC9A;
}

.icon-xl {
    font-size: 10rem;
    color: #9c9c9c;
}


/* 
#logo-r {
    color: #fff;
    position: relative;
    font-size: 3rem;
    left: -0.2rem;
} */

/* .awesome {
    font-size: 20rem;
    color: #FF9B71;
    padding: 1rem 10rem;
    border: 10px grey solid;
    display: inline-block;
} */