{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Add recipe form -->
<div class="container overflow-hidden">
    <div class="row">
        <!-- User must be logged in -->
        {% if user.is_authenticated %}
        <h2 class="fs-1 text-center mt-5">Add a Recipe</h2>
        <div class="col-10 offset-1 col-lg-6 offset-lg-3">
            <form method="POST">
                {{ recipe_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-warning btn-lg mt-5">Post</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}