{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Edit recipe form -->
<div class="container overflow-hidden">
    <div class="row">
        <!-- User must be logged in as owner -->
        {% if user.is_authenticated and user == recipe.author %}
        <h2 class="fs-1 text-center mt-5">Edit Recipe</h2>
        <form method="POST" class="col-10 offset-1 col-lg-6 offset-lg-3" enctype="multipart/form-data">
            {{ recipe_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-lg mt-5">Post</button>
        </form>
        {% else %}
        <!-- User not owner -->
        <h2 class="fs-1 text-center mt-5">You must be logged in as the owner of the recipe to edit it!</h2>
        <div class="col-md-4 offset-md-4 mt-4 d-flex justify-content-around">
            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="btn btn-lg btn-warning">Logout</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-lg btn-warning">Login</a>
            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-warning">Sign Up</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}