{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Edit recipe form -->
<div class="container overflow-hidden">
    <div class="row">
        <!-- User must be logged in as owner -->
        {% if user.is_authenticated and user == recipe.author %}
        <h2 class="fs-1 text-center mt-5">Edit Recipe</h2>
        <div class="col-10 offset-1 col-lg-6 offset-lg-3">
            <form method="POST">
                {{ recipe_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-warning btn-lg mt-5">Post</button>
            </form>
        </div>
        {% else %}
        <!-- User not owner -->
        <h2 class="fs-1 text-center mt-5">You must be logged in as the owner edit this recipe!</h2>
        {% endif %}
    </div>
</div>

{% endblock %}