{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <!-- Recipe intro and photo -->
    <div class="row">
        <div
            class="col-10 offset-1 recipe-info mt-5 px-3 pb-3 bg-container bg-gradient rounded border border-warning border-opacity-50">
            <div class="row flex-column-reverse flex-md-row">
                <div class="col-md-7 d-flex flex-column pt-3">
                    <h2 class="fs-1 text-break">{{ recipe.title }}</h2>
                    <h3 class="text-break">by <a href="{% url 'profile_page' recipe.author %}"
                            class="text-reset">{{ recipe.author }}</a></h3>

                    <!-- Created and updated -->
                    <p>created: {{ recipe.created_on }}
                        {% if recipe.updated_on %}
                        <span class="badge bg-highlight">modified: {{ recipe.updated_on }}</span>
                        {% endif %}
                    </p>

                    <!-- Caption -->
                    <p class="flex-grow-1 text-break">{{ recipe.caption }}</p>

                    <!-- Tags -->
                    <div>
                        {% for tag in recipe.list_of_tags %}
                        <span class="badge bg-highlight">
                            <a class="text-decoration-none text-reset"
                                href="{% url 'browse' tag|slugify  %}">{{ tag }}</a>
                        </span>
                        {% endfor %}
                    </div>

                    <!-- User interactions (dynamic) -->
                    <div class="row mt-3 fw-semibold">
                        {% if user.is_authenticated and user != recipe.author %}
                        <!-- Like button and counter -->
                        <!-- Code inspired by CI walkthough blog project -->
                        <form class="d-inline col-3" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="like_recipe" value="{{recipe.slug}}"
                                class="border-0 bg-transparent px-0">
                                {% if liked %}
                                <i class="fas fa-heart"></i>
                                {% else %}
                                <i class="far fa-heart"></i>
                                {% endif %}
                            </button>
                            <span>{{ recipe.count_likes }}</span>
                        </form>

                        <!-- Comment counter and link to comments -->
                        <span class="col-3">
                            <a href="#comments" class="text-decoration-none text-reset">
                                <i class="far fa-comments"></i> {{ recipe.count_comments }}
                            </a>
                        </span>

                        <!-- Save button and counter -->
                        <form class="d-inline col-5 ms-auto" action="{% url 'recipe_save' recipe.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="save_recipe" value="{{recipe.slug}}"
                                class="border-0 bg-transparent px-0 fw-semibold">
                                {% if saved %}
                                <i class="fa-solid fa-bookmark"></i> <span class="">Saved!</span>
                                {% else %}
                                <i class="fa-regular fa-bookmark"></i> <span class="">{{ recipe.count_saved_by }}</span>
                                {% endif %}
                            </button>
                        </form>

                        {% else %}

                        <!-- Like, comment and save counters -->
                        <span class="col-3"><i class="far fa-heart"></i> {{ recipe.count_likes }}</span>
                        <span class="col-3">
                            <a href="#comments" class="text-decoration-none text-reset">
                                <i class="far fa-comments"></i> {{ recipe.count_comments }}
                            </a>
                        </span>
                        <span class="col-5 ms-auto">
                            <i class="fa-regular fa-bookmark"></i> {{ recipe.count_saved_by }}
                        </span>

                        {% endif %}
                    </div>

                    <!-- Edit & delete buttons -->
                    {% if user == recipe.author %}
                    <div class="row mt-3 justify-content-around">
                        <div class="col-12 d-flex">
                            <a href="{% url 'edit_recipe' recipe.slug %}" class="btn btn-warning flex-grow-1">Edit</a>
                            <button type="button" class="btn btn-danger mx-2 flex-grow-1" data-bs-toggle="modal"
                                data-bs-target="#recipeDeletionModal">
                                Delete
                            </button>

                            <!-- Modal to confirm deletion of recipe -->
                            <div class="modal fade" id="recipeDeletionModal" tabindex="-1"
                                aria-labelledby="recipeDeletionModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="recipeDeletionModalLabel">Delete Comment</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this recipe? <strong>This is
                                                permanent</strong>
                                            <p>{{ recipe.title }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <a class="btn btn-danger"
                                                href="{% url 'delete_recipe' recipe.slug %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- Display image -->
                <div class="col-md-5 pt-3">
                    {% if not recipe.image %}
                    <img src="{% static 'images/recipe_placeholder.png' %}" class="card-img-top rounded"
                        alt="Placeholder image">
                    {% else %}
                    <img src=" {{ recipe.image.url }}" class="card-img-top rounded" alt="Image of {{ recipe.title }}">
                    {% endif %}
                </div>
            </div>

            <!-- Add Notes -->
            {% if user.is_authenticated and saved %}
            <div class="row mt-3 mx-1">
                <a class="btn btn-outline-secondary btn-light" data-bs-toggle="collapse" href="#collapseNotes"
                    role="button" aria-expanded="false" aria-controls="collapseNotes">
                    Notes <span class="badge text-bg-warning">{{ notes.count }}</span>
                </a>
                <!-- Collapsing container -->
                <div class="collapse px-0" id="collapseNotes">
                    <div class="card card-body scroll-container">
                        {% if notes %}
                        <h4>My Notes:</h4>
                        {% for note in notes %}
                        <div class="bg-light bg-gradient border mt-1 rounded px-2 py-2">
                            <p>{{ note.body }}</p>
                            <a href="{% url 'delete_note' note.id %}">delete</a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="pb-3">You've not added any notes for this recipe yet. Notes are personal to you and
                            will not be shared publically. Add a note below if there is anything you'd like to remember
                            when viewing this recipe.</p>
                        {% endif %}
                        <!-- Note form -->
                        <form method="POST" class="pt-3">
                            {{ note_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning mt-2">Add note</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Ingredients and steps -->
    <div class="row justify-content-center flex-column flex-md-row">
        <div
            class="col-10 offset-1 col-md-5 offset-md-0 mt-2 py-3 bg-white bg-gradient rounded border border-secondary border-opacity-50">
            <h4>Ingredients:</h4>
            <pre>{{ recipe.ingredients }}</pre>
        </div>
        <div
            class="col-10 offset-1 col-md-5 offset-md-0 mt-2 py-3 bg-white bg-gradient rounded border border-secondary border-opacity-50">
            <h4>Steps:</h4>
            <pre>{{ recipe.steps }}</pre>
        </div>
    </div>

    <!-- Commenting -->
    <div class="row mt-5" id="comments">
        <h4 class="offset-1">Comments:</h4>
        <!-- Comment form -->
        {% if user.is_authenticated %}
        <form method="POST" class="col-10 offset-1 mb-3">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-warning mt-2">Post</button>
        </form>
        {% endif %}
        <div class="col-10 offset-1">
            <!-- Display comments -->
            {% for comment in comments %}
            {% if not comment.removed %}
            <div class="card bg-light bg-gradient mb-2">
                <div class="card-header">
                    <h5 class="card-title d-inline"><a href="{% url 'profile_page' comment.commenter %}"
                            class="text-reset">{{ comment.commenter }}</a></h5>
                    <span class="fs-6">{{ comment.created_on }}</span>
                </div>
                <div class="card-body">
                    <p>{{ comment.body }}</p>
                    {% if user == comment.commenter %}
                    <button type="button" class="btn btn-danger btn-sm rounded" data-bs-toggle="modal"
                        data-bs-target="#deletionModal">
                        delete
                    </button>

                    <!-- Modal to confirm deletion of comment -->
                    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deletionModalLabel">Delete Comment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <strong>Are you sure you want to delete this comment?</strong>
                                    <p>{{ comment.body }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a class="btn btn-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}