{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-5">
            <h2>{{ recipe.title }}</h2>
            <h3>by {{ recipe.author }}</h3>
            <p>created: {{ recipe.created_on }}
                {% if recipe.created_on != recipe.updated_on %}
                <span class="badge bg-highlight">modified: {{ recipe.updated_on }}</span>
                {% endif %}
            </p>
            <p>Likes: {{ recipe.number_of_likes }} | Comments: {{ recipe.number_of_comments }}</p>
            {% for tag in recipe.list_of_tags %}
            <span class="badge bg-highlight">{{ tag }}</span>
            {% endfor %}
            {% if user == recipe.author %}
            <a class="btn btn-warning" href="{% url 'edit_recipe' recipe.slug  %}">Edit</a>
            {% endif %}
        </div>
    </div>
    <div class="row">

        <div class="col-1">
            <!-- CI walk through project -->
            <strong>
                {% if user.is_authenticated and user != recipe.author %}
                <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
            <!-- The number of likes goes before the closing strong tag -->
            <span class="text-secondary">{{ recipe.number_of_likes }} </span>
            </strong>
        </div>
        <div class="col-1">
            
            <strong class="text-secondary"><i class="far fa-comments"></i>
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ recipe.number_of_comments }}</strong>
            
        </div>
    </div>


    <div class="row">
        <div class="col-md-5 offset-md-1 mt-5">
            {{ recipe.ingredients }}
        </div>
        <div class="col-md-5 mt-5">
            {{ recipe.steps }}
        </div>
    </div>


    <div class="row mt-5">
        {% if user.is_authenticated %}
        <form method="POST" class="col-10 offset-1">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-warning mt-2">Post</button>
        </form>
        {% endif %}
    </div>

    <div class="row mt-3">
        <div class="col-md-10 offset-1">
            {% for comment in comments %}
            {% if not comment.removed %}
            <div class="bg-light bg-gradient border mt-1">
                <h5>{{ comment.commenter }}</h5><span>{{ comment.created_on }}</span>
                <p>{{ comment.body }}</p>
                {% if user == comment.commenter %}
                <a href="{% url 'delete_comment' comment.id %}">delete comment?</a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>





{% if not recipe.private  %}
{% endif %}




{% endblock %}